form {
    position: relative;
    width: 200px;
    margin: 20px auto;
}

input {
    margin-top: 5px;
}

#uid {
    position: relative;
}

#mail {
    position: relative;
}

#pwd {
    position: relative;
}

#sub {
    position: relative;
    margin-left: 50px;
}