<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/index.css" />
    <script src="static/js/index.js"></script>
</head>
<body>
    <form method="post">
        <input type="text" name="username" id="uid" placeholder="username">
        <input type="email" name="mail" id="mail" placeholder="e-mail">
        <input type="password" name="password" id="pwd" placeholder="password">
        <input type="submit" value="LOG IN" id="sub">
    </form>
</body>
</html>>